<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Products &#8211; Dannys Restaurant</title>
	<atom:link href="https://demos.hogash.com/dannys/shop/feed/" rel="self" type="application/rss+xml" />
	<link>https://demos.hogash.com/dannys</link>
	<description>Dannys Restaurant &#124; Restaurant and Cafe WordPress Theme</description>
	<lastBuildDate>Fri, 18 Aug 2017 09:42:22 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>

<image>
	<url>https://demos.hogash.com/dannys/wp-content/uploads/sites/4/2017/06/cropped-DannysFavicon-32x32.png</url>
	<title>Products &#8211; Dannys Restaurant</title>
	<link>https://demos.hogash.com/dannys</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>White chocolate raspberry cheesecake</title>
		<link>https://demos.hogash.com/dannys/product/white-chocolate-raspberry-cheesecake/</link>
		<comments>https://demos.hogash.com/dannys/product/white-chocolate-raspberry-cheesecake/#respond</comments>
		<pubDate>Tue, 09 May 2017 14:48:48 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/white-chocolate-raspberry-cheesecake/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/white-chocolate-raspberry-cheesecake/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Creamy rice pudding</title>
		<link>https://demos.hogash.com/dannys/product/creamy-rice-pudding/</link>
		<comments>https://demos.hogash.com/dannys/product/creamy-rice-pudding/#respond</comments>
		<pubDate>Tue, 09 May 2017 14:48:20 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/creamy-rice-pudding/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/creamy-rice-pudding/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Whitebait &#038; Dill Mayo</title>
		<link>https://demos.hogash.com/dannys/product/whitebait-dill-mayo/</link>
		<comments>https://demos.hogash.com/dannys/product/whitebait-dill-mayo/#respond</comments>
		<pubDate>Mon, 08 May 2017 16:15:31 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/whitebait-dill-mayo/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/whitebait-dill-mayo/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Beef &#038; Barley Bun with Horseradish</title>
		<link>https://demos.hogash.com/dannys/product/beef-barley-bun-with-horseradish/</link>
		<comments>https://demos.hogash.com/dannys/product/beef-barley-bun-with-horseradish/#respond</comments>
		<pubDate>Mon, 08 May 2017 16:15:21 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/beef-barley-bun-with-horseradish/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/beef-barley-bun-with-horseradish/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Halloumi with griddled vegetables</title>
		<link>https://demos.hogash.com/dannys/product/halloumi-with-griddled-vegetables/</link>
		<comments>https://demos.hogash.com/dannys/product/halloumi-with-griddled-vegetables/#respond</comments>
		<pubDate>Mon, 08 May 2017 16:15:09 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/halloumi-with-griddled-vegetables/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/halloumi-with-griddled-vegetables/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Baked Teriyaki Chicken</title>
		<link>https://demos.hogash.com/dannys/product/baked-teriyaki-chicken/</link>
		<comments>https://demos.hogash.com/dannys/product/baked-teriyaki-chicken/#respond</comments>
		<pubDate>Mon, 08 May 2017 16:14:59 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/baked-teriyaki-chicken/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/baked-teriyaki-chicken/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Chicken wings, agrodolce style</title>
		<link>https://demos.hogash.com/dannys/product/chicken-wings-agrodolce-style/</link>
		<comments>https://demos.hogash.com/dannys/product/chicken-wings-agrodolce-style/#respond</comments>
		<pubDate>Mon, 08 May 2017 16:14:49 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/chicken-wings-agrodolce-style/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/chicken-wings-agrodolce-style/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Aubergine Dip</title>
		<link>https://demos.hogash.com/dannys/product/aubergine-dip/</link>
		<comments>https://demos.hogash.com/dannys/product/aubergine-dip/#respond</comments>
		<pubDate>Mon, 08 May 2017 15:52:45 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/aubergine-dip/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/aubergine-dip/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Apple cider sauce and pork</title>
		<link>https://demos.hogash.com/dannys/product/apple-cider-sauce-and-pork-loin-chops/</link>
		<comments>https://demos.hogash.com/dannys/product/apple-cider-sauce-and-pork-loin-chops/#respond</comments>
		<pubDate>Mon, 08 May 2017 15:52:40 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/apple-cider-sauce-and-pork-loin-chops/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/apple-cider-sauce-and-pork-loin-chops/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Stuffed Peppers</title>
		<link>https://demos.hogash.com/dannys/product/stuffed-peppers/</link>
		<comments>https://demos.hogash.com/dannys/product/stuffed-peppers/#respond</comments>
		<pubDate>Mon, 08 May 2017 15:52:31 +0000</pubDate>
		<dc:creator><![CDATA[Stefan]]></dc:creator>
		
		<guid isPermaLink="false">http://demos.hogash.com/dannys/product/stuffed-peppers/</guid>
		<description><![CDATA[Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce]]></description>
				<content:encoded><![CDATA[<p>Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper / Eggs / Tartare sauce</p>
]]></content:encoded>
			<wfw:commentRss>https://demos.hogash.com/dannys/product/stuffed-peppers/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
