<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Stuffed Eggplant</title>
	<atom:link href="https://demos.hogash.com/dannys/stuffed-eggplant/feed/" rel="self" type="application/rss+xml" />
	<link>https://demos.hogash.com/dannys/stuffed-eggplant/</link>
	<description>Dannys Restaurant &#124; Restaurant and Cafe WordPress Theme</description>
	<lastBuildDate>Fri, 21 Sep 2018 13:05:47 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.8</generator>
</channel>
</rss>
